<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center animated animate__bounceInDown">
                <div class="card-body">
                    <h3>{{ titulo }}</h3>
                    <span *ngIf="submitted && createEmpleado.invalid" class="badge badge-danger">TODOS LOS CAMPOS SON REQUERIDOS</span>
                    <form class="mt-3" [formGroup]="createEmpleado" (ngSubmit)="agregarEditarEmpleado()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control"
                                formControlName="nombre"  placeholder="Nombre">
                                
                            </div>
                            <div class="col">
                                <input type="text" class="form-control"
                                formControlName="apellido" placeholder="Apellido">
                            </div>
                        </div>
                        
                        <input type="text" class="form-control mt-3" formControlName="documento" placeholder="Documento">
                        <input type="number" class="form-control mt-3" formControlName="salario" placeholder="Salario">
                        
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary mr-3" routerLink="/list-empleados">Volver</button>
                            <button type="submit" [disabled]="loading" class="btn btn-dark">Guardar <i *ngIf="loading" class="fas fa-spinner fa-spin"></i></button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
